[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-fuoten
Exec=harbour-fuoten
Name=Fuoten

[X-Sailjail]
Permissions=Internet;WebView
OrganizationName=de.huessenbergnetz
ApplicationName=fuoten
ExecDBus=harbour-fuoten
