[submodule "libfuoten"]
	path = libfuoten
	url = https://github.com/Huessenbergnetz/libfuoten.git
[submodule "ADVobfuscator"]
	path = ADVobfuscator
	url = https://github.com/andrivet/ADVobfuscator.git
[submodule "HBN_SFOS_Components"]
	path = HBN_SFOS_Components
	url = https://github.com/Huessenbergnetz/HBN_SFOS_Components.git
[submodule "HBN_SFOS_Cmake"]
	path = HBN_SFOS_Cmake
	url = https://github.com/Huessenbergnetz/HBN_SFOS_Cmake.git
